<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628542639126-jm1attdhh3h2spkrcvn19ra3shavhv77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628542639126-jm1attdhh3h2spkrcvn19ra3shavhv77</string>
	<key>API_KEY</key>
	<string>AIzaSyBVh-Ecz00UVbiZzPPPolgZz7TD2dXOGzA</string>
	<key>GCM_SENDER_ID</key>
	<string>628542639126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.openwindow.Rapture</string>
	<key>PROJECT_ID</key>
	<string>rapture-660e6</string>
	<key>STORAGE_BUCKET</key>
	<string>rapture-660e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628542639126:ios:27baccf99f2f7444917937</string>
</dict>
</plist>